@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@700&display=swap');

.bannerFull {
    padding: 1rem 4rem;
    background-color: #010023;
}

.banner {
    border: 1px solid white;
    border-radius: 10px;
    height: 45vh;
    background-color: #F3C080;
}

.banner-content {
    position: relative;
    top: 22%;
}

.banner-text {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif; 
    font-size: 50px;
}

.welcome {
    padding-left: 33px;
}

.banner-content img {
    position: absolute;
    top: -45%;
    right: 1%;
}

input {
    background-color: transparent;
    border: none;

  }

input:focus {
    outline: none;
    
  }

  .search {
    width: 70%;
    background-color: white;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 20px;
  }



  /* ------------------Media Queries---------- */


  @media screen and (max-width: 768px) {
    .bannerFull {
        padding: 0.8rem;
    }
    .welcome {
        padding-left: 13px;
    }

    .banner-text{
        font-size: 40px;
        padding-left: 5px;
    }

    .search {
        width: 100%;
    }
    
  }
  @media screen and (max-width: 1190px) {
    .banner-content img{
        display: none;
    }
    
  }

  