
<div class="bg-image">
    <div class="login-box">
        <h1>Update Password</h1>
    
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

            <div class="textbox">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input type="text" placeholder="New password" class="" formControlName="password">
                
                <span class ="error" *ngIf="password?.invalid && password?.touched">Too Short(Enter atleast 4 characters)</span>
    
            </div>

            <span *ngIf="wrong">Unable To Update Password</span>
            <button class="btn btn-primary" [disabled]=""emailForm.invalid>Update Password</button>
        </form>
            
    </div>
    </div>