*{
    /* min-height: 90vh; */
    background-color: #080526;
}

.card-bunch {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
}

.card-heading {
    padding: 0.5rem 0 0 4.1rem;
}

div.scrollmenu {
    background-color: #080526;
    overflow: scroll;
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 1rem;
   
  }

  div.scrollmenu div {
    display: inline-block;
    
  }


  .scrollmenu::-webkit-scrollbar {
    display: none;
}

.outercard{
  background-color: #080526;
}

.card-gap {
  margin: 1rem;
}



/* --------Media Queries---------- */

@media screen and (max-width: 768px) {
  .card-heading {
    padding: 1rem;
  }

  .scrollmenu {
    height: 34vh;
    padding-left: 0.5rem !important;
  }

  .card-bunch {
    padding: 0 !important;
  }

  .card-gap {
    margin: 0.4rem;
  }
}