<div class="info">
    <div class="row">
        <div class="first-grid col-lg-5 col-md-5 col-12">
            <h3><img src="assets/img/sdads 1.png" alt="logo"></h3>
            <p>Lorem ipsum dolor sit amet dolor sit amet dolor sit amet.</p>
            <div class="icons">
                <a href="https://www.facebook.com/" class="icons-circle">
                    <fa-icon [icon]="facebook"></fa-icon>
                </a>
                <a href="https://twitter.com/" class="icons-circle">
                    <fa-icon [icon]="twitter"></fa-icon>
                </a>
                <a href="https://www.youtube.com/" class="icons-circle">
                    <fa-icon [icon]="youtube"></fa-icon>
                </a>
                <a href="https://www.instagram.com/" class="icons-circle">
                    <fa-icon [icon]="insta"></fa-icon>
                </a>
            </div>
        </div>
        <div class="second-grid col-lg-2 col-md-2 col-4">
            <h3>Browse</h3>
            <p>Home</p>
            <p>Movies</p>
            <p>TV Shows</p>
        </div>
        <div class="third-grid col-lg-2 col-md-2 col-4">
            <h3>About Us</h3>
            <p>Contact</p>
            <p>seeshow@show.com</p>
            <p>Blogs</p>
        </div>
        <div class="fourth-grid col-lg-2 col-md-2 col-4">
            <h3>Help</h3>
            <p>Subscription</p>
            <p>Registration</p>
            <p>History</p>
            <p>Profile</p>
        </div>
    </div>
</div>

<footer>
    2022 LOGO | All rights reserved
</footer>