
<div class="bg-image">
    <div class="main-content">
        <h1>GET ENDLESS ENTERTAINMENT AND RECOMMENDATION</h1>
        <h3>WITH ONE TAP</h3>
        <a routerLink="/login" class="btn getStarted">Login</a>
        <div class="mt-3"><a routerLink="/register" class="signUp">New to Seeshow? Join Now</a></div>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-12 col-lg-6 first-section aboutUs">
        
        <h2>About Us</h2>
        </div>
        <div class="col-12 col-lg-6 second-section aboutUs">
            <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, eligendi quam rerum obcaecati ullam unde!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, eligendi quam rerum obcaecati ullam unde!</p>
        </div>
    </div>
</section>
