
<div class="bg-image">
    <div class="login-box">
        <h3>Forgot Password?</h3>
    
        <form [formGroup]="otpForm" (ngSubmit)="generateOTP()">

            <div class="textbox">
                <label for="email">Enter Registered Email Address</label>
                <input type="text" placeholder="Registered Email Address" class="" id="email" formControlName="email">
                
                <span class ="error" *ngIf="email?.invalid && email?.touched">Invalid Email</span>
    
            </div>
    
            <span *ngIf="wrong">Invalid Email Address</span>
            <button class="btn btn-primary" [disabled]=""emailForm.invalid>Generate OTP</button>
        </form>
            
    </div>
    </div>